body {
	background-color: lightcoral;
}

#start-game {
	text-align: center;
}

#class-name {
	width: 140px;
}

#sign-name {
	width: 70px;
	border: 1px solid black;
	padding: 1.5px 0px;
}

.feed {
background-color: lightcoral;
}

.wood {
	display: block;
	height: 30px;
	background-color: lightcoral;
}

/*can change outside of JS although made in JS w/ jQuery*/
.bag { 
	display: block;
	height: 400px;
	background-color:;
}